<div class="footer-guard"></div>
<footer class="footer-padding">
  <p>
    Made with ❤️ by
    <a class="text-light" href="https://github.com/millionhz">millionhz</a>
  </p>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
