<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navbar') %>

    <div class="container my-3">
      <h1>Compose</h1>

      <form action="/compose" method="post">
        <div class="mb-3">
          <label for="title-input" class="form-label"><h5>Title</h5></label>
          <input
            type="text"
            class="form-control"
            id="title-input"
            name="title"
            autofocus
            required
          />
        </div>

        <div class="mb-3">
          <label for="text-input" class="form-label"><h5>Post</h5></label>
          <textarea
            class="form-control"
            id="text-input"
            rows="3"
            name="content"
            required
          ></textarea>
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Publish</button>
        </div>
      </form>

      <form action="/clear" method="post">
        <div class="mb-3">
          <button class="btn btn-danger" type="submit">Delete All Posts</button>
        </div>
      </form>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
